@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

:root {
  --bg: #000000;
  --clr-1: #ff00ff;
  --clr-2: #5233ff;
  --clr-3: #4053ff;
  --clr-4: #cc00cc;
  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(-0.125rem, -0.25vw, -0.25rem);
}

body {
  
  background-color:#000000;
  color:aliceblue;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;

}

body,html{
  height: 100%;
  width: 100%;
}

#preloader{
  background-color: #000000;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10000 ;
  align-items: center;

}

.loader p{
  text-align: center;
}
.loader {
  color: rgb(236, 61, 222);
  font-family: "inter";
  font-weight: 800;
  font-size: 1.5rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
   top: 50%;
  justify-content: center;

}

.words {
  overflow: hidden;
  position: relative;
  text-align: center;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #4809db;
  animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}


/* scrollbar*/
::-webkit-scrollbar {
  width: 10px;
  
}

::-webkit-scrollbar-track {
  background: black; 
  
}
 

::-webkit-scrollbar-thumb {
  background: #4053ff; 
  border-radius:40px;
}

.bvambient_particle
{
	position: absolute;
	pointer-events: none;
	transition: top linear, left linear;
  z-index: -1;

}



 header{
  border-top: double rgb(82,51,255);
  border-bottom: double rgb(82,51,255);
  z-index: 1000;
  margin-top: 70px;
  background-color: #000000;
} 

.icons{
  top: 25%;
  margin-top: 50px;
  z-index: 1000;
  position: absolute;
 
}


.linkedin{
  margin: 10px;
}




.github{
  margin-top: 40px;
  margin-left: 10px;
}

.cv{
  margin-top: 40px;
  margin-left: 10px;
}

.bg-body-tertiary{
  background-color: transparent !important;
}

.nav-link {
  color: aliceblue;
  padding-right: 60px  !important;
  
    
}

nav a{
  font-size: 1.2rem !important;
  color: #e1e1e1;
  font-family: inherit;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  
}



nav a:hover{
  text-decoration:underline !important;
  color: aliceblue !important;
  
}

.navbar-nav{
text-align: right;
}


.navbar-toggler-icon {
  background-image: url('img/ouvrir-le-menu.png') !important;
  margin-right: 50px;
}



.logo img{
  width: 80px;
  position: absolute;
  left: 0;
  margin-left:20px;
  top: 0;

}




.subtitle{
margin: 20px;
font-size: 1.5rem;
text-align: center;

}

.title {
  font-size: var(--fs);
  font-weight: 800;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  background: var(--bg);
  margin: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  header {
    height: 200px; 
  }

  .title {
    text-align: center;
    margin-top: 30px;
    margin-right: 30px;
    width: 80vw; 
    font-size: 2rem;
  }
  .subtitle{
   
    font-size: 1rem;
    text-align: center;
    
    }
}



.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 50%;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 30%;
    left: 20%;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

.section_presentation{
   background-color: #000000;
   margin-top: 200px;
   


}

.section_presentation h1{
  text-align: center;
  font-weight: 800;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
  font-size: 4rem;
  margin: 40px;


}

.section_presentation P{
  text-align: left;
  float: right;
  font-family: "Poppins";
  padding: 50px;
  width: 60%;
  border-bottom: double  rgb(82,51,255) 1px;
  border-right: double rgb(82,51,255) 1px;
  
}

.section_presentation img{
  width: 420px;
  float: left;
  margin-left: 40px;
}

@media screen and (max-width: 1000px){
  .content2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section_presentation img{
    width: 420px;
    float: left;
    margin-left: 2px;
  }

  .section_presentation P{
    text-align: left;
    float: right;
    font-family: "Poppins";
    padding: 20px;
    width: 70%;
    border-bottom: double  rgb(82,51,255) 1px;
    border-right: double rgb(82,51,255) 1px;
    
  }
}

@media screen and (max-width: 500px){
  .section_presentation img{
    width: 250px;
    float: left;
  }

  .section_presentation P{
    text-align: left;
    float: right;
    font-family: "Poppins";
    padding: 20px;
    width: 70%;
   
    
  }
}


.content2{
  display: flex;
}



.skills{
  margin-top: 100px;
  margin-bottom: 100px;
 
}

.skills h1{
  text-align: center;
  font-weight: 800;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
  font-size: 4rem;
  margin: 40px;
  

}



.col{
border-right: double rgb(82,51,255);
border-top: double rgb(82,51,255);
margin:20px  ;
padding: 20px;

}

.col span{
  font-size: 1.3rem;
  
}

.list-group li {
  border:solid #b8b8b8;
  margin-top: 10px;
}

.list-group-item{
  background-color: black !important;
  color: white !important;
  
  }

.text-center a{
  text-decoration: none;
  padding: 10px;
  color: white;
  font-size: 1rem;
  border-bottom: solid 1px rgb(255, 255, 255);
  transition: 2s ease-in;


}

.text-center a:hover{
  text-decoration: none;
  padding: 10px;
  color: white;
  border-top: solid 1px rgb(255, 255, 255);

}

.Portfolio_explained h1 {
  text-align: center;
  font-weight: 800;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
  font-size: 4rem;
  margin-top: 40px;
}

.Portfolio_explained {
  margin-top: 100px;
}

.i_am {
  display: flex;
 }

.images_presentation figcaption{
  font-size: 1.2rem;
  font-weight: 800;
  padding: auto;
}

.images_presentation img{
   height: 300px;
  margin-top: 20px;
  min-width:100px;
 max-width: 200px;
}


.images_presentation {
  text-align: center;
  margin: 10px;
  flex: 1;
  
}

@media screen and (max-width: 938px) {
  .images_presentation img{
    height: 300px;
   margin-top: 20px;
   min-width:50px;
  max-width: 120px;
 }
 
}

@media screen and (max-width: 720px) {
  .i_am {
    display: flex;
    flex-direction: column ;
   }
}



.col img{
  width: 200px;
  margin: 0;
}

.col span{
  font-size: 1.5rem;
  text-align: left;
  
}


@keyframes anim {
  100%{
    stroke-dashoffset: 0;
  }
}

.Projects h1{
  text-align: center;
  font-weight: 800;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
  font-size: 4rem;
  margin: 40px;
 
}

.Projects{
  background-color: #000000;
  margin-top: 150px;
}

.col-4{
  border:solid;
  width: 300px;
  height: 300px;
  margin: 10px;
}

.bare{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 55px;
  height: 100vh;
  border-left: double #6527f5;
  background-color:inherit;
  z-index: 12;
  animation-name: ifXgUJ;
  animation-duration: 1.3s;
}

@keyframes ifXgUJ  {
  0%{
    right: -65px;
    }
    60% {
      right: -65px;
  }
  100% {
    top: 0px;
}
}

.Container_projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 50px;
  padding: 30px;
  margin: 20px;
}

.first{
      text-align: center;
      width: 320px;
      position: relative;
      border-top: double rgba(64,83,255,1) ;
      border-right: double rgba(64,83,255,1) ;


}

.first img{
  width: 100%;
  height: auto;
  max-width: 320px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  cursor: pointer;
}

@media screen and (max-width: 400px){
  .first img{
    width: 100%;
    height: auto;
    max-width: 250px;
    cursor: pointer;
  }
  .first{
    
    width: 250px;
   


}
  
}
.first img:hover{
filter: grayscale(0%);
}



.first:hover figcaption {
  opacity: 1;
  filter: grayscale(0%);
}

figcaption:hover{
  filter: grayscale(0%);
}



figcaption {
  margin-top: 10px;
}
footer{
  margin-top: 0px;
  border-top: solid;
}

.up{
  left: 50%;
  margin: 20px;
}
.up svg{
  z-index: 1000000;
  cursor: pointer;
  width: 100%;
  transition: transform 0.3s ease-in-out; 
  
}

.up svg:hover{
  transform: translateY(-10px);
}


.img-fluid{
  margin: 10px;
  position: relative;
  top: 10%;
  width: 500px;
}
.col p{
margin-right: 20px;
padding-right: 20px;
}

.col .title{
  font-size: 0.2rem;
}

@media screen and (max-width: 400px){
  .img-fluid{
    margin: 10px;
    position: relative;
    top: 10%;
    width: 300px;
  }

  .col p{
    width: 300px;
  }
}
